# Porta de execução do servidor web do Shipwright
PORT=8080

# Define o ambiente da aplicação (development ou production)
APP_ENV=development

# Socket local do Docker Engine (padrão no Linux/Ubuntu)
# O SDK do Docker lê esta variável automaticamente para se conectar.
DOCKER_HOST=unix:///var/run/docker.sock
